{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>

<nav class="navbar navbar-expand-lg neo-navbar fixed-top"> 
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static "img/No Need.jpeg" %}" alt="justice Hub" height="45">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'lawyers' %}">Lawyers</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'service' %}">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Get Started</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
.hero 
<section class="hero-section">

<div class="container text-center hero-content">

<h1>Next-Gen Legal Solutions</h1>
<p>Find. Book. Resolve. Your Legal Journey Starts Here.</p>

<div class="search-container">

<form class="row g-3">

<div class="col-md-4">
<select class="form-select">
<option>Speciality</option>
<option>Criminal law</option>
<option>Family law</option>
<option>Property law</option>
</select>
</div>

<div class="col-md-4">
<select class="form-select">
<option>Location</option>
<option>Mumbai</option>
<option>Nagpur</option>
<option>Goa</option>
<option>Amravati</option>
</select>
</div>

<div class="col-md-4">
       <button type="submit" class="btn gradient-btn w-100"> Find Experts
      <i class="fas fa-arrow-right ms-2"></i>
      </button>
</div>

</form>

</div>
</div>
</section>
<section class="py-5">
<div class="container">

<h2 class="section-title text center">Top Legal Experts</h2>

<div class="row g-4">

<div class="col-lg-4">
<div class="lawyer-card text-center">


<h5>Bansilal Bhandekar</h5>
<p>Family Law</p>

<button class="btn gradient-btn">View Profile</button>

</div>
</div>

<div class="col-lg-4">
<div class="lawyer-card text-center">


<h5>Dilip Sable</h5>
<p>Commercial Law</p>

<button class="btn gradient-btn">View Profile</button>

</div>
</div>

<div class="col-lg-4">
<div class="lawyer-card text-center">


<h5>Pramod Patil</h5>
<p>Commercial Law</p>

<button class="btn gradient-btn">View Profile</button>

</div>
</div>

</div>
</div>
</section>

<footer>
<div class="container text-center">
© 2025 JUSTICE HUB
</div>
</footer>


</body>
</html>